<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table 2</title>

    <style>
        .ttable{
            border: 2px solid black;
            width: 100%;
            text-align: center;
        }
        .emp2{
            background-color: #0059cd;
        }

        .emp1{
            background-color: green;
        }
        table,th,td{
            border: 2px solid black;
            border-collapse: collapse;
        }


    </style>
</head>
<body>
<legend style="text-align: center;font-size: 40px">Empolyee Table</legend>
<table class="ttable">
<tr class="emp1">
    <th>Empid</th>
    <th>EmpName</th>
    <th>EmpDept</th>
    <th>EmpSalary</th>
  </tr>

  <tr class="emp3">
    <td>101</td>
    <td>Joe</td>
    <td>Development</td>
    <td>50000</td>
  </tr>

  <tr class="emp2">
    <td>102</td>
    <td>Mary</td>
    <td>Testing</td>
    <td>30000</td>
  </tr>

  <tr class="emp3">
    <td>103</td>
    <td>Beck</td>
    <td>Analyst</td>
    <td>40000</td>
  </tr>

  <tr class="emp2">
    <td>104</td>
    <td>Candace</td>
    <td>Development</td>
    <td>45000</td>
  </tr>
</table>

</body>
</html>